main#live-window {
	#video-holder { 
	    width: 100%; 
	    margin: 0 auto;
	    display: flex;
	    @include breakpoint(tablet) {
	        flex-direction: column;
	    }
	    .video-embed {
	        position: relative; 
	        height: 0; 
	        padding-bottom: 45%; 
	        overflow: hidden;
	        width: 80%;
	        display: inline-block;
	        margin: 0 auto;
            @include breakpoint(desktopSmall) {
                width: 100%;
	        	padding-bottom: 56%; 
            }
	        &.sidebar-inc {
	            width: 72%;
	            margin: 0 0;
	            @include breakpoint(tablet) {
	                width: 100%;
	            }
	        }
	        iframe {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
	    }
	    .sidebarbox {
	        display: inline-block;
	        width: 28%;
	        @include breakpoint(tablet) {
	            width: 100%;
	        }
	        .inner-sidebar {
	        	padding: rem(20px 20px);
	        }
			iframe {
				height: inherit;
				@include breakpoint(phone){
					height: 350px;
				}
			}
	    }
	}
}